html.sticky-header-active #header .header-body {
    border-bottom-color: transparent;
    webkit-box-shadow: none;
    box-shadow: none;
}

#footer {
    background: black;
    border-top: 4px solid #fcfdff;
    font-size: 0.9em;
    margin-top: 50px;
    padding: 0;
    position: relative;
    clear: both;
}

#header .header-nav.header-nav-line nav > ul:not(:hover) li > a.active {
    color: white;
}
/* utk putih tulisan di navbar saat active*/

#header .header-nav.header-nav-line nav > ul:not(:hover) li > a.active:before {
    background: #26456e;
} /*utk atur warna saat active di navbar */

html body .btn-light-2,
html body .btn-outline.btn-light-2 {
    border-color: #ff8800;
    color: #fff;
    background-color: #ff8800;
}

#dashboard {
    margin: 0 auto;
    text-align: center;
}

section.section {
    background: #f7f7f7;
    border-top: 5px solid #f1f1f1;
    margin: 0px 0;
    padding: 50px 0;
}

html section.section-quaternary {
    background-color: #023d67 !important;
    border-color: #f97304 !important;
}

.card-body {
    padding: 32px;
    padding: 1rem;
}

.card-img-top {
    vertical-align: middle;
    border-style: none;
    min-width: 30px;
    max-height: 230px;
} /*utk atur di halaman donasi yg banyak gambar*/

.img-fluid {
    vertical-align: middle;
    border-style: none;
} /* atur halaman donasi detail */
